.sidemenue {
    height: 100%;
    position: fixed;
    z-index: 9;
    top: 0;
    background-color: #111;
    display: block;
    width: 6.5rem;
    overflow: hidden;
    width: 110px;
    text-align: center;
}

* h1{
    font-weight: 800;
    font-size: 30px;
}

* h2{
    /* margin-bottom: 40px; */
    line-height: 1.2;
    font-weight: 700;
    font-size: 2rem;
}

* h3{
    font-weight: 800;
    font-size: 18px;
}

* h5{
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
    color: deeppink;
}

.play-btn {
    background-color: rgb(3, 194, 252);
    height: 55px;
    width: 55px;
    margin: 0 0 0 27px;
    border-radius: 32;
    border-radius: 30px;
    padding-top: 12px;
    padding-left: 2px;
}
.play-btn svg{
    color: white;
}

.icon{
    cursor:pointer;
    position:relative;
} 
.col{
    padding-left: 0%;
    padding-right: 0%;
}
.main {
    padding-left: 110px;
    font-size: 20px;
    background-color: rgb(1, 2, 64);
    color: white;
    padding-top: 120px;
    overflow: hidden;
  }
/* Top Page */
.first-page{
    font-size: 60px;
    font-weight: 900;
    line-height: 1.2;
    margin-top: 150px;
}
.first-page-col-2{
    width: -webkit-fill-available;
}

.personal-social {
    overflow: hidden;
    text-align: right;
    margin-top: -780px;
}

.personal-social ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.personal-social li {
    margin: 40px 0;
    font-size: 18px;
}

.personal-social a {
   color: white;
}

/* my resume button */

.top-resume-btn{
    height: 65px;
    width: 250px;
    --bs-btn-font-size: 1.2rem;
    border-radius: 30px !important;
    background: linear-gradient(to left, rgb(3, 3, 3) 50%, #e40328 50%) right;
    background-size: 200%;
    transition: .35s ease-out;
    border: none;
}
.top-resume-btn:hover{
    background-position:left;
}


/* second page */


.heading-shape {
    margin: -180px 0 0 -40px;
    width: 50px;
}
.heading-shape img{
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.second-heading{
    text-align: center;
    font-weight: 800;
}

.container hr{
    color: rgb(211 5 100);
    opacity: 1;
}

.services{
    background-color: rgb(186 194 255 / 20%) !important;
    padding: 120px 0px 100px 0px;
}

.services-section{
    padding: 0 15px;
}

.services-img{
    height: 80px;
    margin-bottom: 50px;
}
.services-p{
    font-size: 17px;
}
.ambrox {
    float: right;
    clear: right;
    margin: -60px -90px -50px 0px;
}
.shape-amination-right{
    position: relative;
    right: -77%;
    top: -80px;
}

/* Third page  */
.portfolio{
    padding: 120px 0px 0px 35px;
    max-width: 1206px;
}
.portfolio-heading p{
    color: deeppink;
}
.portfolio-project{
    padding-left: 3%;
}
.portfolio-rating{
    padding-left: 3%;
    border-left: 1px solid #c1bdbd;
}
.project-heading{
    padding-top: 50px
}

.vartical-line {
    border-left: 2px solid white;
    height: 80px;
}
.portfolio-image{
    padding: 0px 0px 20px 15px;
    max-width: 1206px;
    margin-right: 15px;
    display: block;
    height: auto;
}

.sub-image{
    position: relative;
    width: 350px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #050047;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .3s ease;
  }

.sub-image:hover .overlay {
    height: 30%;
}

.text h6{
    line-height: 0.2;
    font-size: 20px;
}
.text p{
    font-size: 16px;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #050047;
    height: 64px;
    width: 185px;
    border-radius: 9px;
}
.arrow{
    background: #ff014f;
    position: absolute;
    top: 25%;
    left: 80%;
    height: 42px;
    width: 53px;
    border-radius: 21px;
    padding: 6px 0px 0px 11px;
}
.arrow svg{
    color: white;
}
.col-4{
    width: 22.333333%;
    padding-left: 4%;
}

/* Fourth page */

.about{
    padding-top: 120px;
}


.about-image{
    margin-left: 25px;
}



.about-text{
    font-size: 16px;
}

.about-subheading p {
    color: #b7b1b1;
}

.about-bell{
   text-align: right;
}

.about-bell img{
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-right: 65px;
    margin-bottom: 40px;
}

/* Resume css */

.exprence-content-box{
    position: relative;
    z-index: 1;
    padding-bottom: 60px;
    background-color: #0c1152;
}
div#resume {
    padding-top: 50px;
}
.resume-tab-navs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: none;
    margin: -40;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 50px;
    grid-column-gap: 15px;
    box-shadow: 0 0 1rem 0 rgba(56, 84, 177, 0.699);
    position: relative;
    z-index: 1;
    background: #00436d;;
}

.resume-tab-navs .nav-link {
    background: #e40328;
    border: #c1bdbd;
    border-radius: 50px;
    color: aliceblue;
    height: 60px;
}

.resume-tab-content{
    position: relative;
}

.biography-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 70px;
    overflow: hidden;
    padding-left: 0;
    margin-bottom: 0;
}

.biography-table li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    line-height: 30px;
}

.biography-table li p {
    margin: 0;
    color: #c3c1be;
    text-transform: none;
    font-weight: 400;
    font-family: var(--font-default);
}

.skill-table {
    z-index: 1;
    position: relative;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.skill-table li{
    border: none;
    padding-top: 0;
    padding: 10px 0;
    line-height: 32px;
}
.skill-page2-oops{
    background-color: #fb503b;
    height: 70px;
    width: 70px;
    margin: 0 0 0 27px;
    border-radius: 32;
    border-radius: 35px;
    padding-top: 21px;
    padding-left: 22px;
}
.skill-page2-react{
    background-color: #61DBFB;
    height: 70px;
    width: 70px;
    margin: 0 0 0 27px;
    border-radius: 32;
    border-radius: 35px;
    padding-top: 21px;
    padding-left: 20px;
}

.skill-page2-html{
    background-color: #e34c26;
    height: 70px;
    width: 70px;
    margin: 0 0 0 27px;
    border-radius: 32;
    border-radius: 35px;
    padding-top: 21px;
    padding-left: 20px;
}
.percentage h1{
    float: left;
    margin-right: 15px;
    margin-top: -14px;
    font-size: 30px;
}
.progress{
    opacity: 1;
    left: 0px;
    height: 8px;
    margin-top: 15px;
    z-index: 1;
}

.progress-bar {
    width:75%;
    border-radius: 50px;
    background: linear-gradient(to right ,  #ff014f 50%, transparent 0%);
    background-size: 200% 100%;
    background-position: right bottom;
    animation: makeItfadeIn 3s 1s;
    animation-fill-mode:forwards;
}
@keyframes makeItfadeIn {
    100% {
        background-position: left;
      }
    
  }

.education-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 40px;
    list-style: none;
    margin: 0;
    position: relative;
    z-index: 1;
}

.education-table span {
    display: inline-block;
    background: #e40328;
    color: white;
    font-weight: 800;
    padding: 0 10px;
    margin-bottom: 15px;
}

.education-table p {
    color: #928a8e;
    margin: 0 0 15px;
    text-transform: none;
    font-weight: 500;
    font-family: var(--font-default);
}

/* pricing area  */

.pricing{
    padding-top: 120px;
}

.price-box{
    box-sizing: border-box;
}

.heading-left{
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
}

.left-info{
    box-sizing: border-box;
}

.save-amount{
    position: relative;
    bottom: -35px;
    padding: 50px;
    background: var(--white);
    border-radius: 30px;
    padding-left: 100px;
    background: #282e70
}
.save-amount h4 {
    font-weight: 800;
    line-height: 1.4;
    margin: 0;
    font-size: 28px;
}
.save-amount-img{
    position: absolute;
    left: -120px;
    bottom: -50px;
    max-width: 280px;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}


.pricing-style{
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px 15px 25px 30px;
}
.pricing-style ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.pricing-style li{
    position: relative;
    padding-left: 15px;
    margin-top: 9px;
    font-weight: 500;
}

.pricing-style a{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    color: #ffffff;
    font-size: 20px;
    font-family: arial;
    background-color: #e40328;
    background-image: linear-gradient(#dfc5c5, #000000);
    background-repeat: no-repeat;
    transition: background-size .25s, color .3s;
    border: none;
}
.order-btn{
    background-position: 50% 50%;
}
.order-btn{
    background-size: 0% 0%;
}
.pricing-style a:hover {
    background-size: 100% 100%;
    color: #fff;
}

.price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-align: right;
}
.price h6{
    margin: 0;
    font-weight: 800;
    font-size: 40px;
}
.pricing-style:nth-child(2n){
    background: #012b45;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px 15px 25px 30px;
}
.pricing-style-html{
    background-color: #e34c26;
    height: 70px;
    width: 70px;
    margin: 0 0 0 27px;
    border-radius: 32;
    border-radius: 35px;
    padding-top: 10px;
    text-align: center;
}

/* company logo  */
.logo{
    padding-top: 120px;
    padding-bottom: 110px;
}
.logo-img{
    color: #7A7A7A;
}

/* testimonial-area */
.testimonial-area{
    padding-top: 120px;
    padding-bottom: 120px;
}

.site-heading {
    margin-bottom: 60px;
}


.provider{
    margin-top: 30px;
}
.provider span{
    font-size: 15px;
    color: hsla(332, 98%, 45%, 0.945);
    font-weight: bold;
}

/* work available area */

.work-available-area a{
    position: relative;
    display: inline-block;
    padding: 12px 45px;
    text-decoration: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 20px;
    font-family: arial;
    background-color: #e40328;
    background-image: linear-gradient(#89c4fc, #0583fa);
    background-repeat: no-repeat;
    transition: background-size .25s, color .3s;
    border: none;
}
.work-avilable-btn{
    background-position: 50% 50%;
}
.work-avilable-btn{
    background-size: 0% 0%;
}

.work-available-area a:hover{
    background-size: 100% 100%;
    color: #fff;
}

.work-available-area{
    padding-bottom: 120px;
    background: rgba(0, 0, 0, 0.2) !important;
}
.work-available-area h2 {
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 40px;
    line-height: 1.1;
    font-weight: 700;
}

.shape{
    text-align: right;
    padding-top: 20px;
}
.shape img{
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: -60px -30px 0px 0px;
}
.shape-two{
    position: absolute;
    left: 10%;
    padding-top: 110px;
}
.shape-two img{
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.btn-work-avilable{
    background: #e3038df1;
    color: white;
    border-radius: 30px !important;
    padding: 16px 52px;
    font-size: 17px;
    box-shadow: none;
    text-decoration: none;
}

/* news css */
.news{
    padding-top: 120px;
}
.news-heading{
    margin-bottom: 60px;
}

.blog-style .item{
    box-shadow: inherit;
    border-radius: inherit;
    background: transparent;
    cursor: pointer;
}
.blog-style .thumb{
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 30px;
}
.meta-blog-ul{
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}
.meta-blog-li{
    margin-right: 25px;
    margin-bottom: 0;
    display: inline-block;
    font-size: 15px;
}

.info-blog h4:hover{
    color: hsla(323, 90%, 62%, 0.945);
    transition: 0.5s;
}

.meta-blog-li:hover{
    color: hsla(327, 80%, 56%, 0.945);
    transition: 0.5s;
}

#expandimg {
    left: -80px;
    position: relative;
    transition: 0.3s;
    -moz-transition: 0.3s;
}

#expandimg:hover {
    /* width: 120px; */
    left: 0px;
}


/* contect form css */

.contect-form h4{
    text-transform: uppercase;
    font-size: 200px;
    position: absolute;
    left: 30%;
    top: 150px;
    opacity: 0.04;
}

.contect-form{
    padding-top: 120px;
    position: relative;
}
.contect-info a{
    color: #c1bdbd;
    text-decoration: none;
}

.contect {
    padding-bottom: 120px;
}

.contect .form-box{
    background:  #012b45;
    padding: 60px;
}

.form-box p{
    font-size: 15px;
}
.form-style{
    background: bottom;
    height: 55px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.text-area{
    background: bottom;
    height: 180px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-box button{
    position: relative;
    display: inline-block;
    padding: 15px 45px;
    text-decoration: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 20px;
    font-family: arial;
    background-color: #e40328;
    background-image: linear-gradient(#8cbbf0, #0785f1);
    background-repeat: no-repeat;
    transition: background-size .25s, color .3s;
    border: none;
    margin-top: 20px;
}
.send-message-btn{
    background-position: 50% 50%;
}
.send-message-btn{
    background-size: 0% 0%;
}

.form-box button:hover{
    background-size: 100% 100%;
    color: #fff;
}


.email-icon{
    background-color: rgb(0, 149, 194);
    width: 60px;
    text-align: center;
    height: 60px;
    border-radius: 5px;
    padding-top: 14px;
    display: inline-block;
    margin-top: 5px;
    border-radius: 5px;
}
.contect-info h5 a{
    color: white;
    margin: 0;
    font-weight: 700;
    line-height: 1.3;
    font-size: 18px
}

.location-icon {
    background-color: rgb(255, 6, 193);
    width: 60px;
    text-align: center;
    height: 60px;
    border-radius: 5px;
    padding-top: 14px;
    display: inline-block;
    margin-top: 5px;
    border-radius: 5px;
}

.phone-icon svg{
    background-color: rgb(250, 233, 0);
    width: 60px;
    text-align: center;
    height: 60px;
    border-radius: 5px;
    padding-top: 14px;
    display: inline-block;
    margin-top: 5px;
    border-radius: 5px;
    padding-bottom: 12px;
}
.contect .col p{
    font-weight: 400;
    font-size: 15px;
}

.contect ul{
    list-style: none;
}

.contect-info {
    padding-bottom: 30px;
}

/* footer css */

.footer{
    background: #003d63 !important;
    padding: 50px 0px;
}
.footer ul{
    list-style: none;
    padding-left: 0;
}
.footer .link li{
    display: inline-block;
    position: relative;
    z-index: 1;
    line-height: 32px;
    
}

.footer p{
    font-size: 15px;
    font-weight: 400;
}

.footer a{
    font-size: 15px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding-left: 15px;
}

/* mobile css */

.navbar-toggle{
    background: transparent;
    border: none;
    font-size: 25px;
    padding: 30px 0;
    position: relative;
    margin: 0 15px;
}
.navbar-brand{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50px;
    color: #232323 !important;
    font-weight: 700;
    text-transform: capitalize;
    background: transparent;
}
.navbar-brand img{
    height: auto;
    display: block;
}
.another{
    background-color: #0583fa;
}

.navbar-collapse{
    width: 300px;
    position: fixed;
    top: 0;
    left: -100%;
    padding: 30px;
    animation: fadeLeft;
    height: 100%;
    min-height: 100vh;
    background:  white ;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    z-index: 9999;
}
.navbar-collapse.show{
    left: 0%;
}
.navbar-collapse img{
    height: 40px;
    margin-top: 8px;
    margin-bottom: 30px;
}
.navbar-collapse button{
    position: absolute;
    right: 30px;
    margin: 0;
    height: 35px;
    width: 35px;
    line-height: 31px;
    text-align: center;
    color: #232323;
    font-size: 16px;
    top: 40px;
    padding: 0;
}

.smooth-menu{
    display: block;
    width: 100%;
    border-bottom: solid 1px #e0e0e0;
    padding: 18px 0 !important;
    margin-bottom: -1px;
    position: relative;
    color: rgb(7, 7, 7);
    text-decoration: none;
    display: block;
    font-weight: 700;
}

/* .another{
    float: left;
    margin: 0 0 0px 104px;
} */

.another {
    padding-left: 110px;
}


@media all and (min-width: 480px) {
    .navbar-desktop {display:block;}
    .navbar-mobile {display:none;}
}

@media all and (max-width: 1023px) {
    .navbar-mobile {display:block;}
    .navbar-desktop {display:none;}
    .main {
        padding-left: 0px;
    }
    .personal-social ul {
        display: none;
    }
    .first-page {
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .services-section{
        text-align: center;
        border-bottom: 1px solid rgba(80, 61, 205, 0.1);
        padding-bottom: 30px;
        padding: 0 30px;
       
    }
    .container.row.mx-5 {
        margin-left: 0rem!important;
    }

    div#services {
        width: 345px;
        padding-top: 0px;
    }
    .shape-amination-right {
        right: -73%;
        top: -34px;
   }
   .shape-amination-right img{
        height: 60px;
        width: 80px;
    }
    .services-p {
        font-size: 13px;
    }
    .portfolio{
        padding-top: 60px;
        padding-left: 0px;
        text-align: center;
    }
    .col-md-9.ml-auto.about-subheading {
        text-align: center;
    }

    .about {
        padding-top: 30px;
    }

    .about-image {
        margin-left: 0px;
        height: 450px;
        width: 390px;
        padding-bottom: 20px;
    }
    * h2{
        text-align: center;
        margin-top: 40px;
    }
    * h5{
        text-align: center;
    }
    .about-text{
        text-align: center;
    }
    .about-icon img{
       margin-left: 155px;
    }
    .wphtml img{
        margin-left: 360%;
    }

    .logo{
        display: none;
    }
    .col-5.portfolio-heading {
        width: auto;
    } 
    div#portfolio {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .portfolio-rating{
        border-left: none;
    }
    .portfolio-rating h2{
        margin-bottom: 0px;
    }
    .portfolio-heading{
        padding-right: .0rem!important;
    }
    .portfolio-heading h2{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
    }
    
    .about-icon{
        text-align: center;
    }
    .save-amount{
        padding: 45px;
        padding-left: 38px;
        text-align: center;
    }
    .save-amount img{
        display: none;
    }

    .pricing-style {
        margin-top: 60px;
        border-radius: 20px;
    }

    .heading-left h2{
        margin: 0;
    }

    .shape-two{
        padding-top: 175px;
    }
    .shape-two img{
        height: 100px;
        width: 100;
    }

    .news-heading h2{
        margin: 0%;
    }
    .news-heading {
        margin-bottom: 30px;
        padding-top: 30px;
    }

    .testimonial-area{
        padding: 0;
    }
    .shape img{
        height: 90px;
        width: 90px;
        padding: 10px 20px 15px 0px;
    }

    .heading-shape{
        display: none;
    }
    .work-available-area h2{
        font-size: 30px;
        margin-top: 0; 
    }

    .contect {
        padding-bottom: 0px;
    }
    .footer {
        display: none;
    }
    .email h5{
        text-align: left;
    }
    .address h5{
        text-align: left;
    }
    .phone h5{
        text-align: left;
    }
    .contect-form{
        padding-top: 50px;
    }
    .contect .form-box{
        padding: 20px;
    }
    .contect ul{
        padding: 20px;
    }
    .news{
        padding: 0;
    }
   }
   




